@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    background-image: url("./assets/blur.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.Font{
    font-family: 'Nabla', cursive;
}
